.lt-container .main{
    background-color: #fff;
}
.lt-container .main .search{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.lt-container .main .search input{
    height: 34px;
    flex: 1;
    font-size: 14px;
    padding-left: 10px;
    border: 1px solid #069;
    border-radius: 6px 0 0 6px;
}
.lt-container .main .search a{
    display: block;
    width: 60px;
    height: 34px;
    background-color: #006699;
    text-align: center;
    line-height: 34px;
    font-size: 12px;
    color:#fff;
    border-radius: 0 6px 6px 0;
}
.lt-container .main .search-history{
    padding: 0 10px;
    font-size: 12px;
    color: #666;
}
.lt-container .main ul{
    padding: 0 10px;
    margin-top: 10px;
}
.lt-container .main ul li{
    height: 30px;
    border: 1px dashed red;
    padding:0 10px;
    color: deepskyblue;
    margin-bottom: -1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lt-container .main ul li .fa-close{
    color: #ccc;
    line-height: 30px;
    font-size: 14px;

}