#addCategory,
table{
   margin: 20px 20px 0px;
   text-align: center;
}
table thead th{
    text-align: center;
}
#pagintor{
    float:right;
    margin-right: 20px;
}
.form-group #fileupload{
    width: 82px;
    height: 34px;
    position: absolute;
    opacity: 0;
}